
@function torem($px){
  @return $px/16px*1rem;
}
div:nth-child(1){
  font-size: torem(16px);
}
div:nth-child(2){
  font-size: torem(32px);
}
div:nth-child(3){
  font-size: torem(48px);
}
div:nth-child(4){
  font-size: torem(64px);
}