@charset "UTF-8";
/*清除默认样式*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

a {
  color: inherit;
  text-decoration: inherit; }

ul, li, ol {
  list-style: none; }

/*弹性布局*/
.flex-box {
  display: flex; }

.flex-jus-start {
  justify-content: flex-start; }

.flex-jus-center {
  justify-content: center; }

.flex-jus-end {
  justify-content: flex-end; }

.flex-jus-bet {
  justify-content: space-between; }

.flex-jus-aro {
  justify-content: space-around; }

.flex-jus-eve {
  justify-content: space-evenly; }

.flex-align-start {
  align-items: flex-start; }

.flex-align-center {
  align-items: center; }

.flex-align-end {
  align-items: flex-end; }

.flex-dir {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

/*css3 兼容*/
/*position*/
.y-fixed {
  position: fixed; }

.y-abs {
  position: absolute; }

.y-rel {
  position: relative; }

.y-pos-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*margin*/
.y-marAuto {
  margin-left: auto;
  margin-right: auto; }

/*图片*/
.y-imgCenter {
  object-fit: cover;
  width: 100%;
  height: 100%; }

/*浮动*/
.fl {
  float: left; }

.fr {
  float: right; }

.clr:after {
  content: '';
  overflow: hidden;
  clear: both;
  display: block;
  width: 0;
  height: 0; }

.y-module {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  z-index: -1; }

.y-module-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
  -moz-transform: translate(-50%, -50%) scale(0.8);
  -ms-transform: translate(-50%, -50%) scale(0.8);
  -o-transform: translate(-50%, -50%) scale(0.8);
  transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-color: #fff;
  opacity: 0;
  width: 50%;
  height: 30vw;
  z-index: -1; }

@-webkit-keyframes move-the-object {
  0% {
    transform: translate(-50%, -50%) scale(0.95); }
  50% {
    transform: translate(-50%, -50%) scale(1.05); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@-moz-keyframes move-the-object {
  0% {
    transform: translate(-50%, -50%) scale(0.95); }
  50% {
    transform: translate(-50%, -50%) scale(1.05); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@-o-keyframes move-the-object {
  0% {
    transform: translate(-50%, -50%) scale(0.95); }
  50% {
    transform: translate(-50%, -50%) scale(1.05); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@keyframes move-the-object {
  0% {
    transform: translate(-50%, -50%) scale(0.95); }
  50% {
    transform: translate(-50%, -50%) scale(1.05); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
.y-module-content.move {
  animation: move-the-object 1s; }

/*# sourceMappingURL=total.css.map */
