@charset "UTF-8";
/*清除默认样式*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

a {
  color: inherit;
  text-decoration: inherit; }

ul, li, ol {
  list-style: none; }

/*弹性布局*/
.flex-box {
  display: flex; }

.flex-jus-start {
  justify-content: flex-start; }

.flex-jus-center {
  justify-content: center; }

.flex-jus-end {
  justify-content: flex-end; }

.flex-jus-bet {
  justify-content: space-between; }

.flex-jus-aro {
  justify-content: space-around; }

.flex-jus-eve {
  justify-content: space-evenly; }

.flex-align-start {
  align-items: flex-start; }

.flex-align-center {
  align-items: center; }

.flex-align-end {
  align-items: flex-end; }

.flex-dir {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

/*css3 兼容*/
/*position*/
.y-fixed {
  position: fixed; }

.y-abs {
  position: absolute; }

.y-rel {
  position: relative; }

.y-pos-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*margin*/
.y-marAuto {
  margin-left: auto;
  margin-right: auto; }

/*图片*/
.y-imgCenter {
  object-fit: cover;
  width: 100%;
  height: 100%; }

/*浮动*/
.fl {
  float: left; }

.fr {
  float: right; }

.clr:after {
  content: '';
  overflow: hidden;
  clear: both;
  display: block;
  width: 0;
  height: 0; }

/*opacity*/
.opacity1 {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.opacity0 {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important; }

@-webkit-keyframes module0 {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  75% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@-moz-keyframes module0 {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  75% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@-o-keyframes module0 {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  75% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@keyframes module0 {
  0% {
    transform: translate(-50%, -50%) scale(0); }
  75% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }
@-webkit-keyframes remodule0 {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  25% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(0); } }
@-moz-keyframes remodule0 {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  25% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(0); } }
@-o-keyframes remodule0 {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  25% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(0); } }
@keyframes remodule0 {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  25% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(0); } }
.y-module {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0; }

.y-module-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #fff;
  opacity: 0;
  width: 15%; }
  .y-module-content .y-title-wrap {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 20px;
    line-height: 43px; }
    .y-module-content .y-title-wrap .close {
      cursor: pointer; }
  .y-module-content .y-content {
    padding: 10px 20px;
    word-break: break-all;
    word-wrap: break-word; }
  .y-module-content .y-module-btn {
    padding: 0 20px 20px; }
    .y-module-content .y-module-btn .cancel,
    .y-module-content .y-module-btn .confirm {
      width: 80px;
      line-height: 30px;
      text-align: center;
      background-color: #1E9FFF;
      color: #fff;
      border-radius: 2px;
      cursor: pointer; }

.y-module-content.move {
  animation: module0 .5s; }

.y-module-content.remove {
  animation: remodule0 .5s; }

/*# sourceMappingURL=total.css.map */
